<!DOCTYPE html>
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="不放棄設計的前端工程師，持續追求更好的自己。")
        meta(name="keywords", content="web frontend、web ui designer")
        meta(name="og:title", content="陳玟憲＿個人網站")
        meta(name="og:description" content="不放棄設計的前端工程師，找出創意與現實碰撞的最佳解。")
        title 陳玟憲＿個人網站
        link(rel="shortcut icon" href="images/favicon.png")
        link(rel="stylesheet" href="./css/m.css" type="text/css")
         //-  Global site tag (gtag.js) - Google Analytics
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-86132171-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-86132171-1');
    body
        header(class="banner")
            nav
                div(class="phoneBtn")
                    - for (let i = 0; i < 3; i++)
                        span

                ul
                    each text, index in {'#about': '關於我', '#skill': '技能說明', '#work': '精選作品', '#contact': '與我聯絡'}
                        li
                            a(href=index)= text

            div(class="slogan")
                h1(class="aniTxt")
                    span(class="text-wrapper")
                        span(class="letters") 『』在尋找的前端工程師
                each text in ['Frontend Developer', '前端工程。前端設計']
                    div(class="aniTxt")
                        span(class="text-wrapper")
                            span(class="letters")= text

        .container

            div#about(class="about box01")
                div.inbox(data-aos="fade-up" data-aod-once="true")
                    div.title
                        span About
                        h2 關於我
                    figure
                        img(src="images/me.png" alt="陳玟憲個人照")
                    div.txtbox
                        p 喜歡設計的前端工程師。
                        p 2 年網頁設計、2 年前端經歷，工作過程中引發對前端的興趣，開始學習各種前端知識。
                        p 包含 JS 原理，到 JS 框架 - Vue 等。偶爾寫部落格消化自己的理解。
                        p 期望在前端與設計的領域，找出創意與現實碰撞的最佳解，持續精進。
                        p.
                          信箱：faition2@gmail.com <br>
                          電話：0972258047

            div#skill(class="skill box02")
                div(class="inbox" data-aos="fade-up" data-aos-once="true")
                    div(class="title")
                        h2 技能說明
                        span Skills
                    ul(class="itembox clearfix")
                        li(class="item")
                            h3 JS
                            div(class="txtbox")
                                img(src="images/icon_js.png" alt="Js")
                                p 了解原生 JS 各種原理，this、同步非同步等問題。基礎 canvas 特效，並透過前端工具鍊 Webpack、Babel、Gulp 等進行任務控管與打包編譯的工作。
                        li(class="item")
                            h3 Html
                            div(class="txtbox")
                                img(src="images/icon_html5.png" alt="Html5")
                                p 了解各標籤語意，切版時產出乾淨的結構，並有效運用每個標籤完成網站應用。也能使用模版語言 pug 等工具達成任務。
                        li(class="item")
                            h3 Css
                            div(class="txtbox")
                                img(src="images/icon_css3.png" alt="Css3")
                                p  手刻完成 RWD 切版。善用 CSS 製作動畫，寫 scss/stylus，並使用 PostCSS 做後續瀏覽器兼容等工作。
                        li(class="item")
                            h3 JS 框架
                            div(class="txtbox")
                                img(src="images/icon_framework.png" alt="Js")
                                p 前端框架：Vue、Vue router、Vuex 狀態管理。<br>後端框架：Express。
                        li(class="item")
                            h3 git
                            div(class="txtbox")
                                img(src="images/icon_git.png" alt="rwd")
                                p 了解 git 指令，了解 git flow 。
                        li(class="item")
                            h3 PS / AI / XD
                            div(class="txtbox")
                                img(src="images/icon_adobe.png" alt="sublime")
                                p 也能完成設計需求。

            div#work(class="work box01")
                div(class="inbox clearfix" data-aos="fade-up" data-aos-once="true")
                    div(class="title")
                        span Work Porfolio
                        h2 精選專案
                    div(class="workList")
                        ul
                            li(class="clearfix")
                                div(class="workList__imgbox")
                                    img(src="images/work05.jpg", alt="老爺官網後台")
                                div(class="workList__content")
                                    h3 老爺酒店後台內容編輯平台
                                    div(class="workList__tag")
                                        span Vue、Vuetify
                                        span Storybook
                                        span 獨立開發
                                    p 角色權限、多圖上傳、元件拖曳等功能、近 70 支 API 串接與管理
                                    p (內部系統，無對外開放。)
                            li(class="clearfix")
                                div(class="workList__imgbox")
                                    img(src="images/work06.jpg", alt="77 乳加巧克力")
                                div(class="workList__content")
                                    h3 77 乳加巧克力
                                    div(class="workList__tag")
                                        span 官方網站
                                        span 獨立開發
                                    p 專案走後端套版流程。整合 createJS 並視需求撰寫動態，達成客戶要求。
                                    a(class="workList__btn" rel="noopener noreferrer" href="https://www.77.com.tw" target="_blank") 前往查看
                            li(class="clearfix")
                                div(class="workList__imgbox")
                                    img(src="images/work07.jpg", alt="新聯陽數據平台")
                                div(class="workList__content")
                                    h3 新聯陽數據平台
                                    div(class="workList__tag")
                                        span Vue
                                        span Google Map api
                                        span ECharts
                                    p 2018 年上線。負責維運與新功能開發。串接 Google Map api 依座標經緯度顯示數據，ECharts 開發多種圖表
                                    p (內部系統，無對外開放。)
                                    //- a(class="workList__btn" rel="noopener noreferrer" href="https://birc.io" target="_blank") 前往查看
                            //- li(class="clearfix")
                            //-     div(class="workList__imgbox")
                            //-         img(src="images/work03.jpg", alt="RE BOSS 店家後台管理系統")
                            //-     div(class="workList__content")
                            //-         h3 RE BOSS 店家後台管理系統
                            //-         div(class="workList__tag")
                            //-             span Vue
                            //-             span Vuex
                            //-             span Express
                            //-         p 協助維護與開發新功能，使用 Vue 打造的 hybrid APP。客戶做商家管理的後台系統。(內部系統，無對外開放。)
                    //-
                        div(class="gallery")
                            ul
                                li(class="active")
                                    a(href="https://birc.io"
                                    target="_blank")
                                    img(src="images/work01.jpg", alt="鉑客幣")
                                li(class="first")
                                    a(href="javascript:;")
                                    img(src="images/work03.jpg", alt="RE BOSS")
                                li(class="second")
                                    a(href="https://wen0720.github.io/vueShop/#/"
                                    target="_blank")
                                    img(src="images/work02.jpg", alt="VueShop")
                        div(class="txtbox")
                            ul
                                li(class="active")
                                    h3 birc 鉑客幣
                                    p 加密貨幣介紹網站。主要負責前端畫面實作，scss 切版、畫面規劃。串接 youtube api。
                                li(class="first")
                                    h3 RE BOSS 店家後台管理系統
                                    p 使用 Vue 打造的 hybrid APP。客戶做商家管理的後台系統，負責維護與開發新功能。(內部系統，無對外開放。)
                                li(class="second")
                                    h3 健身課程網（自行開發 - Vue）
                                    p 線上健身課程訂購網。設計並完成前台介面功能互動，製作管理介面，介接後端 api。
                            div(class="btnbox")
                                a(class="prev" href="javascript:;")
                                    img(src="images/arrow_left.png")
                                a(class="next" href="javascript:;")
                                    img(src="images/arrow_right.png")

            div#contact(class="contact box02 bg01")
                div(class="inbox" data-aos="fade-up" data-aos-once="true")
                    div(class="title")
                        h2 其他資訊
                        span Contact
                    p 請點選以下連結，更瞭解我。
                    ul
                        li
                            a(href="https://medium.com/@faition2" target="_blank")
                                img(src="images/icon_medium.png")
                                span 逛逛 medium
                        //- li
                            //- a(href="https://www.facebook.com/profile.php?id=100001679700319" target="_blank")
                                img(src="images/icon_fb.png")
                                span 翻翻臉書

        footer
            div(class="inbox")
                a(href="https://github.com/wen0720" target="_blank")
                    span 點我前往github
                    span Web Frontend Developer You Can't Miss

        script(src="index.bundle.js")
